---
const { class: className = "" } = Astro.props
const { variant = "primary" } = Astro.props
const { before, after } = Astro.slots
---

<span
  class:list={[
    `link pixel variant-${variant}`.trim(),
    `${before ? "has-before" : ""} ${
      after ? "has-after" : ""
    } ${className}`.trim(),
  ]}
>
</span>
