---
const foregroundColor = "rgb(221 243 228)"
const backgroundColor = "rgb(24 121 78)"
---

<unknow-style define:vars={{ foregroundColor, backgroundColor }}>
    background-color: var(--background);
    color: var(--foreground);
</unknow-style>
<h1>Hello</h1>
