/.nyc_output
/coverage
/lib
/node_modules
!/.vscode
!/.github
/tests/fixtures/rules/*/invalid/template-attr-*.astro
/tests/fixtures/rules/*/invalid/template-attr-*.astro
/tests/fixtures/rules/*/invalid/_*.astro
/docs-build/src/md
/docs-build/src/pages
/docs-build/README.md
/docs-build/dist
/docs-build/shim/assert.mjs
/docs-build/shim/eslint.mjs
/docs-build/shim/astro-eslint-parser.mjs
/docs-build/shim/eslint-plugin-jsx-a11y.mjs
/tests/fixtures/rules/indent/invalid/ts
/tests/fixtures/rules/indent/invalid/ts-v5
/tests/fixtures/rules/valid-compile/invalid/ts
/tests/fixtures/rules/valid-compile/valid/babel
/tests/fixtures/rules/valid-compile/valid/ts
/tests/fixtures/rules/prefer-style-directive
/build
