---
// This file is used to test the exceptions for the `no-exports-from-components` rule.
// The following exports are allowed as exceptions.
export const getStaticPaths = (): { param: unknown }[] => {
  // logic here
  return [{ param: "value" }]
}
export const prerender = true
---

<div>Hello World</div>
