---
// This file is used to test the exception for the `getStaticPath` function in the `no-exports-from-components` rule.
export async function getStaticPath() {
  // logic here
}
---
<div>Hello World</div>
