---
const domId = "foo"
---

<form>
  <label class="label" for="address">Address</label>
  <textarea placeholder="Address" required name="address" id="address"
  ></textarea>
  <input type="submit" value="Submit" />
</form>
