---
const { class: className = "" } = Astro.props
const { variant = "primary" } = Astro.props
const { before, after } = Astro.slots
---

<span
  class:list={[`link pixel variant-${variant}  ${
    after ? "has-after" : ""
  } ${className}`.trim(),{"has-before": before}]}
>
</span>
