.eslint-editor {
  height: 100%;
  position: relative;
}
.eslint-editor__tools {
  display: flex;
  height: 42px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  padding: 8px;
}
.eslint-editor__tools > button {
  cursor: pointer;
  background-color: transparent;
  color: #ddd;
  border: solid #ddd 1px;
  border-radius: 4px;
  outline: none;
  padding: 0 16px;
  appearance: none;
}
.eslint-editor__tools > button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.eslint-editor-monaco-root {
  width: 100%;
  height: 100%;
}

.eslint-editor-monaco-root--wait {
  color: #9cdcfe;
  border: 1px solid #cfd4db;
  background-color: #282c34;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 14px;
  line-height: 21px;
  padding-left: 52px;
  box-sizing: border-box;
}
