<ul>
  <li><a href="#internal">Internal link</a></li>
  <li><a href="http://sample.com">Example link</a></li>
  <li><a href="#InSensitive">Insensitive internal link</a></li>
  <li><a href="http://sample.org">Example org link</a></li>
  <li><a href="https://sample.org">Example https org link</a></li>
</ul>

<style>
  a[href*="example"] {
    height: 10px;
    width: 10px;
  }
</style>
