<ul>
  <li><a href="#internal">Internal link</a></li>
  <li><a href="http://example.com">Example link</a></li>
  <li><a href="#InSensitive">Insensitive internal link</a></li>
  <li><a href="http://example.co.jp">Example org link</a></li>
  <li><a href="https://example.co.jp">Example https org link</a></li>
</ul>

<style>
  a[href$=".org"] {
    height: 10px;
    width: 10px;
  }
</style>
