<div class="box a">!</div>
<div class="box b">Content</div>
<div class="box c">
  <!-- comment. -->!
</div>
<div class="box d">
  <p></p>
</div>

<style>
  .box:empty {
    height: 10px;
    width: 10px;
  }
</style>
