<div class="text-gradient"></div>

<style>
  .text-gradient {
    animation: pulse 4s ease-in-out infinite;
  }
  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
  .foo {
    color: red;
  }
</style>
