---
import MainLayout from "./../layouts/MainLayout.astro"
const baseUrl = import.meta.env.BASE_URL
const content = { hiddenRight: true, hiddenTOC: true }
---

<MainLayout {content}>
  <h1>404</h1>
  <div class="content">
    <a href={baseUrl}>
      This page isn't in our solar system.<br />
      <br />
      <b>Take me home.</b>
    </a>
  </div>
  <div class="stars1 stars"></div>
  <div class="stars2 stars"></div>
  <div class="stars3 stars"></div>
</MainLayout>

<style>
  :root {
    --color-border: hsl(17, 24%, 90%);
    --link-gradient: linear-gradient(
      45deg,
      #4f39fa,
      #da62c4 30%,
      var(--color-border) 60%
    );
  }
  h1,
  .content {
    text-align: center;
  }

  .content {
    padding: 4px;
    border-radius: 4px;
    /* display: flex; */
    background-image: var(--link-gradient);
    background-size: 400%;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .content > a {
    display: block;
    color: var(--theme-text);
    text-decoration: none;

    padding: 14px;
    border-radius: 4px;

    background-color: var(--theme-bg);
    opacity: 0.8;
  }
  .content:is(:hover, :focus-within) {
    background-position: 0;
  }

  .stars {
    border-radius: 50%;
    background: transparent;

    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
  }
  .stars:after {
    content: "";
    position: absolute;
    top: 2000px;
    background: transparent;
  }
  @keyframes star {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }

  .stars1 {
    width: 1px;
    height: 1px;
    animation: star 100s linear infinite;
    /* STARS */
    /* ----------------------------------------------------------------------------- */
    box-shadow: 779px 1331px var(--theme-text), 324px 42px var(--theme-text),
      303px 586px var(--theme-text), 1312px 276px var(--theme-text),
      451px 625px var(--theme-text), 521px 1931px var(--theme-text),
      1087px 1871px var(--theme-text), 36px 1546px var(--theme-text),
      132px 934px var(--theme-text), 1698px 901px var(--theme-text),
      1418px 664px var(--theme-text), 1448px 1157px var(--theme-text),
      1084px 232px var(--theme-text), 347px 1776px var(--theme-text),
      1722px 243px var(--theme-text), 1629px 835px var(--theme-text),
      479px 969px var(--theme-text), 1231px 960px var(--theme-text),
      586px 384px var(--theme-text), 164px 527px var(--theme-text),
      8px 646px var(--theme-text), 1150px 1126px var(--theme-text),
      665px 1357px var(--theme-text), 1556px 1982px var(--theme-text),
      1260px 1961px var(--theme-text), 1675px 1741px var(--theme-text),
      1843px 1514px var(--theme-text), 718px 1628px var(--theme-text),
      242px 1343px var(--theme-text), 1497px 1880px var(--theme-text),
      1364px 230px var(--theme-text), 1739px 1302px var(--theme-text),
      636px 959px var(--theme-text), 304px 686px var(--theme-text),
      614px 751px var(--theme-text), 1935px 816px var(--theme-text),
      1428px 60px var(--theme-text), 355px 335px var(--theme-text),
      1594px 158px var(--theme-text), 90px 60px var(--theme-text),
      1553px 162px var(--theme-text), 1239px 1825px var(--theme-text),
      1945px 587px var(--theme-text), 749px 1785px var(--theme-text),
      1987px 1172px var(--theme-text), 1301px 1237px var(--theme-text),
      1039px 342px var(--theme-text), 1585px 1481px var(--theme-text),
      995px 1048px var(--theme-text), 524px 932px var(--theme-text),
      214px 413px var(--theme-text), 1701px 1300px var(--theme-text),
      1037px 1613px var(--theme-text), 1871px 996px var(--theme-text),
      1360px 1635px var(--theme-text), 1110px 1313px var(--theme-text),
      412px 1783px var(--theme-text), 1949px 177px var(--theme-text),
      903px 1854px var(--theme-text), 700px 1936px var(--theme-text),
      378px 125px var(--theme-text), 308px 834px var(--theme-text),
      1118px 962px var(--theme-text), 1350px 1929px var(--theme-text),
      781px 1811px var(--theme-text), 561px 137px var(--theme-text),
      757px 1148px var(--theme-text), 1670px 1979px var(--theme-text),
      343px 739px var(--theme-text), 945px 795px var(--theme-text),
      576px 1903px var(--theme-text), 1078px 1436px var(--theme-text),
      1583px 450px var(--theme-text), 1366px 474px var(--theme-text),
      297px 1873px var(--theme-text), 192px 162px var(--theme-text),
      1624px 1633px var(--theme-text), 59px 453px var(--theme-text),
      82px 1872px var(--theme-text), 1933px 498px var(--theme-text),
      1966px 1974px var(--theme-text), 1975px 1688px var(--theme-text),
      779px 314px var(--theme-text), 1858px 1543px var(--theme-text),
      73px 1507px var(--theme-text), 1693px 975px var(--theme-text),
      1683px 108px var(--theme-text), 1768px 1654px var(--theme-text),
      654px 14px var(--theme-text), 494px 171px var(--theme-text),
      1689px 1895px var(--theme-text), 1660px 263px var(--theme-text),
      1031px 903px var(--theme-text), 1203px 1393px var(--theme-text),
      1333px 1421px var(--theme-text), 1113px 41px var(--theme-text),
      1206px 1645px var(--theme-text), 1325px 1635px var(--theme-text),
      142px 388px var(--theme-text), 572px 215px var(--theme-text),
      1535px 296px var(--theme-text), 1419px 407px var(--theme-text),
      1379px 1003px var(--theme-text), 329px 469px var(--theme-text),
      1791px 1652px var(--theme-text), 935px 1802px var(--theme-text),
      1330px 1820px var(--theme-text), 421px 1933px var(--theme-text),
      828px 365px var(--theme-text), 275px 316px var(--theme-text),
      707px 960px var(--theme-text), 1605px 1554px var(--theme-text),
      625px 58px var(--theme-text), 717px 1697px var(--theme-text),
      1669px 246px var(--theme-text), 1925px 322px var(--theme-text),
      1154px 1803px var(--theme-text), 1929px 295px var(--theme-text),
      1248px 240px var(--theme-text), 1045px 1755px var(--theme-text),
      166px 942px var(--theme-text), 1888px 1773px var(--theme-text),
      678px 1963px var(--theme-text), 1370px 569px var(--theme-text),
      1974px 1400px var(--theme-text), 1786px 460px var(--theme-text),
      51px 307px var(--theme-text), 784px 1400px var(--theme-text),
      730px 1258px var(--theme-text), 1712px 393px var(--theme-text),
      416px 170px var(--theme-text), 1797px 1932px var(--theme-text),
      572px 219px var(--theme-text), 1557px 1856px var(--theme-text),
      218px 8px var(--theme-text), 348px 1334px var(--theme-text),
      469px 413px var(--theme-text), 385px 1738px var(--theme-text),
      1357px 1818px var(--theme-text), 240px 942px var(--theme-text),
      248px 1847px var(--theme-text), 1535px 806px var(--theme-text),
      236px 1514px var(--theme-text), 1429px 1556px var(--theme-text),
      73px 1633px var(--theme-text), 1398px 1121px var(--theme-text),
      671px 1301px var(--theme-text), 1404px 1663px var(--theme-text),
      740px 1018px var(--theme-text), 1600px 377px var(--theme-text),
      785px 514px var(--theme-text), 112px 1084px var(--theme-text),
      1915px 1887px var(--theme-text), 1463px 1848px var(--theme-text),
      687px 1115px var(--theme-text), 1268px 1768px var(--theme-text),
      1729px 1425px var(--theme-text), 1284px 1022px var(--theme-text),
      801px 974px var(--theme-text), 1975px 1317px var(--theme-text),
      1354px 834px var(--theme-text), 1446px 1484px var(--theme-text),
      1283px 1786px var(--theme-text), 11px 523px var(--theme-text),
      1842px 236px var(--theme-text), 1355px 654px var(--theme-text),
      429px 7px var(--theme-text), 1033px 1128px var(--theme-text),
      157px 297px var(--theme-text), 545px 635px var(--theme-text),
      52px 1080px var(--theme-text), 827px 1520px var(--theme-text),
      1121px 490px var(--theme-text), 9px 309px var(--theme-text),
      1744px 1586px var(--theme-text), 1014px 417px var(--theme-text),
      1534px 524px var(--theme-text), 958px 552px var(--theme-text),
      1403px 1496px var(--theme-text), 387px 703px var(--theme-text),
      1522px 548px var(--theme-text), 1355px 282px var(--theme-text),
      1532px 601px var(--theme-text), 1838px 790px var(--theme-text),
      290px 259px var(--theme-text), 295px 598px var(--theme-text),
      1601px 539px var(--theme-text), 1561px 1272px var(--theme-text),
      34px 1922px var(--theme-text), 1024px 543px var(--theme-text),
      467px 369px var(--theme-text), 722px 333px var(--theme-text),
      1976px 1255px var(--theme-text), 766px 983px var(--theme-text),
      1582px 1285px var(--theme-text), 12px 512px var(--theme-text),
      617px 1410px var(--theme-text), 682px 577px var(--theme-text),
      1334px 1438px var(--theme-text), 439px 327px var(--theme-text),
      1617px 1661px var(--theme-text), 673px 129px var(--theme-text),
      794px 941px var(--theme-text), 1386px 1902px var(--theme-text),
      37px 1353px var(--theme-text), 1467px 1353px var(--theme-text),
      416px 18px var(--theme-text), 187px 344px var(--theme-text),
      200px 1898px var(--theme-text), 1491px 1619px var(--theme-text),
      811px 347px var(--theme-text), 924px 1827px var(--theme-text),
      945px 217px var(--theme-text), 1735px 1228px var(--theme-text),
      379px 1890px var(--theme-text), 79px 761px var(--theme-text),
      825px 1837px var(--theme-text), 1980px 1558px var(--theme-text),
      1308px 1573px var(--theme-text), 1488px 1726px var(--theme-text),
      382px 1208px var(--theme-text), 522px 595px var(--theme-text),
      1277px 1898px var(--theme-text), 354px 552px var(--theme-text),
      161px 1784px var(--theme-text), 614px 251px var(--theme-text),
      526px 1576px var(--theme-text), 17px 212px var(--theme-text),
      179px 996px var(--theme-text), 467px 1208px var(--theme-text),
      1944px 1838px var(--theme-text), 1140px 1093px var(--theme-text),
      858px 1007px var(--theme-text), 200px 1064px var(--theme-text),
      423px 1964px var(--theme-text), 1945px 439px var(--theme-text),
      1377px 689px var(--theme-text), 1120px 1437px var(--theme-text),
      1876px 668px var(--theme-text), 907px 1324px var(--theme-text),
      343px 1976px var(--theme-text), 1816px 1501px var(--theme-text),
      1849px 177px var(--theme-text), 647px 91px var(--theme-text),
      1984px 1012px var(--theme-text), 1336px 1300px var(--theme-text),
      128px 648px var(--theme-text), 305px 1060px var(--theme-text),
      1324px 826px var(--theme-text), 1263px 1314px var(--theme-text),
      1801px 629px var(--theme-text), 1614px 1555px var(--theme-text),
      1634px 90px var(--theme-text), 1603px 452px var(--theme-text),
      891px 1984px var(--theme-text), 1556px 1906px var(--theme-text),
      121px 68px var(--theme-text), 1676px 1714px var(--theme-text),
      516px 936px var(--theme-text), 1947px 1492px var(--theme-text),
      1455px 1519px var(--theme-text), 45px 602px var(--theme-text),
      205px 1039px var(--theme-text), 793px 172px var(--theme-text),
      1562px 1739px var(--theme-text), 1056px 110px var(--theme-text),
      1512px 379px var(--theme-text), 1795px 1621px var(--theme-text),
      1848px 607px var(--theme-text), 262px 1719px var(--theme-text),
      477px 991px var(--theme-text), 483px 883px var(--theme-text),
      1239px 1197px var(--theme-text), 1496px 647px var(--theme-text),
      1649px 25px var(--theme-text), 1491px 1946px var(--theme-text),
      119px 996px var(--theme-text), 179px 1472px var(--theme-text),
      1341px 808px var(--theme-text), 1565px 1700px var(--theme-text),
      407px 1544px var(--theme-text), 1754px 357px var(--theme-text),
      1288px 981px var(--theme-text), 902px 1997px var(--theme-text),
      1755px 1668px var(--theme-text), 186px 877px var(--theme-text),
      1202px 1882px var(--theme-text), 461px 1213px var(--theme-text),
      1400px 748px var(--theme-text), 1969px 1899px var(--theme-text),
      809px 522px var(--theme-text), 514px 1219px var(--theme-text),
      374px 275px var(--theme-text), 938px 1973px var(--theme-text),
      357px 552px var(--theme-text), 144px 1722px var(--theme-text),
      1572px 912px var(--theme-text), 402px 1858px var(--theme-text),
      1544px 1195px var(--theme-text), 667px 1257px var(--theme-text),
      727px 1496px var(--theme-text), 993px 232px var(--theme-text),
      1772px 313px var(--theme-text), 1040px 1590px var(--theme-text),
      1204px 1973px var(--theme-text), 1268px 79px var(--theme-text),
      1555px 1048px var(--theme-text), 986px 1707px var(--theme-text),
      978px 1710px var(--theme-text), 713px 360px var(--theme-text),
      407px 863px var(--theme-text), 461px 736px var(--theme-text),
      284px 1608px var(--theme-text), 103px 430px var(--theme-text),
      1283px 1319px var(--theme-text), 977px 1186px var(--theme-text),
      1966px 1516px var(--theme-text), 1287px 1129px var(--theme-text),
      70px 1098px var(--theme-text), 1189px 889px var(--theme-text),
      1126px 1734px var(--theme-text), 309px 1292px var(--theme-text),
      879px 764px var(--theme-text), 65px 473px var(--theme-text),
      1003px 1959px var(--theme-text), 658px 791px var(--theme-text),
      402px 1576px var(--theme-text), 35px 622px var(--theme-text),
      529px 1589px var(--theme-text), 164px 666px var(--theme-text),
      1876px 1290px var(--theme-text), 1541px 526px var(--theme-text),
      270px 1297px var(--theme-text), 440px 865px var(--theme-text),
      1500px 802px var(--theme-text), 182px 1754px var(--theme-text),
      1264px 892px var(--theme-text), 272px 1249px var(--theme-text),
      1289px 1535px var(--theme-text), 190px 1646px var(--theme-text),
      955px 242px var(--theme-text), 1456px 1597px var(--theme-text),
      1727px 1983px var(--theme-text), 635px 801px var(--theme-text),
      226px 455px var(--theme-text), 1396px 1710px var(--theme-text),
      849px 1863px var(--theme-text), 237px 1264px var(--theme-text),
      839px 140px var(--theme-text), 1122px 735px var(--theme-text),
      1280px 15px var(--theme-text), 1318px 242px var(--theme-text),
      1819px 1148px var(--theme-text), 333px 1392px var(--theme-text),
      1949px 553px var(--theme-text), 1878px 1332px var(--theme-text),
      467px 548px var(--theme-text), 1812px 1082px var(--theme-text),
      1067px 193px var(--theme-text), 243px 156px var(--theme-text),
      483px 1616px var(--theme-text), 1714px 933px var(--theme-text),
      759px 1800px var(--theme-text), 1822px 995px var(--theme-text),
      1877px 572px var(--theme-text), 581px 1084px var(--theme-text),
      107px 732px var(--theme-text), 642px 1837px var(--theme-text),
      166px 1493px var(--theme-text), 1555px 198px var(--theme-text),
      819px 307px var(--theme-text), 947px 345px var(--theme-text),
      827px 224px var(--theme-text), 927px 1394px var(--theme-text),
      540px 467px var(--theme-text), 1093px 405px var(--theme-text),
      1140px 927px var(--theme-text), 130px 529px var(--theme-text),
      33px 1980px var(--theme-text), 1147px 1663px var(--theme-text),
      1616px 1436px var(--theme-text), 528px 710px var(--theme-text),
      798px 1100px var(--theme-text), 505px 1480px var(--theme-text),
      899px 641px var(--theme-text), 1909px 1949px var(--theme-text),
      1311px 964px var(--theme-text), 979px 1301px var(--theme-text),
      1393px 969px var(--theme-text), 1793px 1886px var(--theme-text),
      292px 357px var(--theme-text), 1196px 1718px var(--theme-text),
      1290px 1994px var(--theme-text), 537px 1973px var(--theme-text),
      1181px 1674px var(--theme-text), 1740px 1566px var(--theme-text),
      1307px 265px var(--theme-text), 922px 522px var(--theme-text),
      1892px 472px var(--theme-text), 384px 1746px var(--theme-text),
      392px 1098px var(--theme-text), 647px 548px var(--theme-text),
      390px 1498px var(--theme-text), 1246px 138px var(--theme-text),
      730px 876px var(--theme-text), 192px 1472px var(--theme-text),
      1790px 1789px var(--theme-text), 928px 311px var(--theme-text),
      1253px 1647px var(--theme-text), 747px 1921px var(--theme-text),
      1561px 1025px var(--theme-text), 1533px 1292px var(--theme-text),
      1985px 195px var(--theme-text), 728px 729px var(--theme-text),
      1712px 1936px var(--theme-text), 512px 1717px var(--theme-text),
      1528px 483px var(--theme-text), 313px 1642px var(--theme-text),
      281px 1849px var(--theme-text), 1212px 799px var(--theme-text),
      435px 1191px var(--theme-text), 1422px 611px var(--theme-text),
      1718px 1964px var(--theme-text), 411px 944px var(--theme-text),
      210px 636px var(--theme-text), 1502px 1295px var(--theme-text),
      1434px 349px var(--theme-text), 769px 60px var(--theme-text),
      747px 1053px var(--theme-text), 789px 504px var(--theme-text),
      1436px 1264px var(--theme-text), 1893px 1225px var(--theme-text),
      1394px 1788px var(--theme-text), 1108px 1317px var(--theme-text),
      1673px 1395px var(--theme-text), 854px 1010px var(--theme-text),
      1705px 80px var(--theme-text), 1858px 148px var(--theme-text),
      1729px 344px var(--theme-text), 1388px 664px var(--theme-text),
      895px 406px var(--theme-text), 1479px 157px var(--theme-text),
      1441px 1157px var(--theme-text), 552px 1900px var(--theme-text),
      516px 364px var(--theme-text), 1647px 189px var(--theme-text),
      1427px 1071px var(--theme-text), 785px 729px var(--theme-text),
      1080px 1710px var(--theme-text), 504px 204px var(--theme-text),
      1177px 1622px var(--theme-text), 657px 34px var(--theme-text),
      1296px 1099px var(--theme-text), 248px 180px var(--theme-text),
      1212px 1568px var(--theme-text), 667px 1562px var(--theme-text),
      695px 841px var(--theme-text), 1608px 1247px var(--theme-text),
      751px 882px var(--theme-text), 87px 167px var(--theme-text),
      607px 1368px var(--theme-text), 1363px 1203px var(--theme-text),
      1836px 317px var(--theme-text), 1668px 1703px var(--theme-text),
      830px 1154px var(--theme-text), 1721px 1398px var(--theme-text),
      1601px 1280px var(--theme-text), 976px 874px var(--theme-text),
      1743px 254px var(--theme-text), 1020px 1815px var(--theme-text),
      1670px 1766px var(--theme-text), 1890px 735px var(--theme-text),
      1379px 136px var(--theme-text), 1864px 695px var(--theme-text),
      206px 965px var(--theme-text), 1404px 1932px var(--theme-text),
      1923px 1360px var(--theme-text), 247px 682px var(--theme-text),
      519px 1708px var(--theme-text), 645px 750px var(--theme-text),
      1164px 1204px var(--theme-text), 834px 323px var(--theme-text),
      172px 1350px var(--theme-text), 213px 972px var(--theme-text),
      1837px 190px var(--theme-text), 285px 1806px var(--theme-text),
      1047px 1299px var(--theme-text), 1548px 825px var(--theme-text),
      1730px 324px var(--theme-text), 1346px 1909px var(--theme-text),
      772px 270px var(--theme-text), 345px 1190px var(--theme-text),
      478px 1433px var(--theme-text), 1479px 25px var(--theme-text),
      1994px 1830px var(--theme-text), 1744px 732px var(--theme-text),
      20px 1635px var(--theme-text), 690px 1795px var(--theme-text),
      1594px 569px var(--theme-text), 579px 245px var(--theme-text),
      1398px 733px var(--theme-text), 408px 1352px var(--theme-text),
      1774px 120px var(--theme-text), 1152px 1370px var(--theme-text),
      1698px 1810px var(--theme-text), 710px 1450px var(--theme-text),
      665px 286px var(--theme-text), 493px 1720px var(--theme-text),
      786px 5px var(--theme-text), 637px 1140px var(--theme-text),
      764px 324px var(--theme-text), 927px 310px var(--theme-text),
      938px 1424px var(--theme-text), 1884px 744px var(--theme-text),
      913px 462px var(--theme-text), 1831px 1936px var(--theme-text),
      1527px 249px var(--theme-text), 36px 1381px var(--theme-text),
      1597px 581px var(--theme-text), 1530px 355px var(--theme-text),
      949px 459px var(--theme-text), 799px 828px var(--theme-text),
      242px 1471px var(--theme-text), 654px 797px var(--theme-text),
      796px 594px var(--theme-text), 1365px 678px var(--theme-text),
      752px 23px var(--theme-text), 1630px 541px var(--theme-text),
      982px 72px var(--theme-text), 1733px 1831px var(--theme-text),
      21px 412px var(--theme-text), 775px 998px var(--theme-text),
      335px 1945px var(--theme-text), 264px 583px var(--theme-text),
      158px 1311px var(--theme-text), 528px 164px var(--theme-text),
      1978px 574px var(--theme-text), 717px 1203px var(--theme-text),
      734px 1591px var(--theme-text), 1555px 820px var(--theme-text),
      16px 1943px var(--theme-text), 1625px 1177px var(--theme-text),
      1236px 690px var(--theme-text), 1585px 1590px var(--theme-text),
      1737px 1728px var(--theme-text), 721px 698px var(--theme-text),
      1804px 1186px var(--theme-text), 166px 980px var(--theme-text),
      1850px 230px var(--theme-text), 330px 1712px var(--theme-text),
      95px 797px var(--theme-text), 1948px 1078px var(--theme-text),
      469px 939px var(--theme-text), 1269px 1899px var(--theme-text),
      955px 1220px var(--theme-text), 1137px 1075px var(--theme-text),
      312px 1293px var(--theme-text), 986px 1762px var(--theme-text),
      1103px 1238px var(--theme-text), 428px 1993px var(--theme-text),
      355px 570px var(--theme-text), 977px 1836px var(--theme-text),
      1395px 1092px var(--theme-text), 276px 913px var(--theme-text),
      1743px 656px var(--theme-text), 773px 502px var(--theme-text),
      1686px 1322px var(--theme-text), 1516px 1945px var(--theme-text),
      1334px 501px var(--theme-text), 266px 156px var(--theme-text),
      455px 655px var(--theme-text), 798px 72px var(--theme-text),
      1059px 1259px var(--theme-text), 1402px 1687px var(--theme-text),
      236px 1329px var(--theme-text), 1455px 786px var(--theme-text),
      146px 1228px var(--theme-text), 1851px 823px var(--theme-text),
      1062px 100px var(--theme-text), 1220px 953px var(--theme-text),
      20px 1826px var(--theme-text), 36px 1063px var(--theme-text),
      1525px 338px var(--theme-text), 790px 1521px var(--theme-text),
      741px 1099px var(--theme-text), 288px 1489px var(--theme-text),
      700px 1060px var(--theme-text), 390px 1071px var(--theme-text),
      411px 1036px var(--theme-text), 1853px 1072px var(--theme-text),
      1446px 1085px var(--theme-text), 1164px 874px var(--theme-text),
      924px 925px var(--theme-text), 291px 271px var(--theme-text),
      1257px 1964px var(--theme-text), 1580px 1352px var(--theme-text),
      1507px 1216px var(--theme-text), 211px 956px var(--theme-text),
      985px 1195px var(--theme-text), 975px 1640px var(--theme-text),
      518px 101px var(--theme-text), 663px 1395px var(--theme-text),
      914px 532px var(--theme-text), 145px 1320px var(--theme-text),
      69px 1397px var(--theme-text), 982px 523px var(--theme-text),
      257px 725px var(--theme-text), 1599px 831px var(--theme-text),
      1636px 1513px var(--theme-text), 1250px 1158px var(--theme-text),
      1132px 604px var(--theme-text), 183px 102px var(--theme-text),
      1057px 318px var(--theme-text), 1247px 1835px var(--theme-text),
      1983px 1110px var(--theme-text), 1077px 1455px var(--theme-text),
      921px 1770px var(--theme-text), 806px 1350px var(--theme-text),
      1938px 1992px var(--theme-text), 855px 1260px var(--theme-text),
      902px 1345px var(--theme-text), 658px 1908px var(--theme-text),
      1845px 679px var(--theme-text), 712px 1482px var(--theme-text),
      595px 950px var(--theme-text), 1784px 1992px var(--theme-text),
      1847px 1785px var(--theme-text), 691px 1004px var(--theme-text),
      175px 1179px var(--theme-text), 1666px 1911px var(--theme-text),
      41px 61px var(--theme-text), 971px 1080px var(--theme-text),
      1830px 1450px var(--theme-text), 1351px 1518px var(--theme-text),
      1257px 99px var(--theme-text), 1395px 1498px var(--theme-text),
      1117px 252px var(--theme-text), 1779px 597px var(--theme-text),
      1346px 729px var(--theme-text), 1108px 1144px var(--theme-text),
      402px 691px var(--theme-text), 72px 496px var(--theme-text),
      1673px 1604px var(--theme-text), 1497px 974px var(--theme-text),
      1865px 1664px var(--theme-text), 88px 806px var(--theme-text),
      918px 77px var(--theme-text), 244px 1118px var(--theme-text),
      256px 1820px var(--theme-text), 1851px 1840px var(--theme-text),
      605px 1851px var(--theme-text), 634px 383px var(--theme-text),
      865px 37px var(--theme-text), 943px 1024px var(--theme-text),
      1951px 177px var(--theme-text), 1097px 523px var(--theme-text),
      985px 1700px var(--theme-text), 1243px 122px var(--theme-text),
      768px 1070px var(--theme-text), 468px 194px var(--theme-text),
      320px 1867px var(--theme-text), 1850px 185px var(--theme-text),
      380px 1616px var(--theme-text), 468px 1294px var(--theme-text),
      1122px 1743px var(--theme-text), 884px 299px var(--theme-text),
      1300px 1917px var(--theme-text), 1860px 396px var(--theme-text),
      1270px 990px var(--theme-text), 529px 733px var(--theme-text),
      1975px 1347px var(--theme-text), 1885px 685px var(--theme-text),
      226px 506px var(--theme-text), 651px 878px var(--theme-text),
      1323px 680px var(--theme-text), 1284px 680px var(--theme-text),
      238px 1967px var(--theme-text), 911px 174px var(--theme-text),
      1111px 521px var(--theme-text), 1150px 85px var(--theme-text),
      794px 502px var(--theme-text), 484px 1856px var(--theme-text),
      1809px 368px var(--theme-text), 112px 953px var(--theme-text),
      590px 1009px var(--theme-text), 1655px 311px var(--theme-text),
      100px 1026px var(--theme-text), 1803px 352px var(--theme-text),
      865px 306px var(--theme-text), 1077px 1019px var(--theme-text),
      1335px 872px var(--theme-text), 1647px 1298px var(--theme-text),
      1233px 1387px var(--theme-text), 698px 1036px var(--theme-text),
      659px 1860px var(--theme-text), 388px 1412px var(--theme-text),
      1212px 458px var(--theme-text), 755px 1468px var(--theme-text),
      696px 1654px var(--theme-text), 1144px 60px var(--theme-text);
  }
  .stars1:after {
    width: 1px;
    height: 1px;
    /* STARS: AFTER*/
    /* ----------------------------------------------------------------------------- */
    box-shadow: 779px 1331px var(--theme-text), 324px 42px var(--theme-text),
      303px 586px var(--theme-text), 1312px 276px var(--theme-text),
      451px 625px var(--theme-text), 521px 1931px var(--theme-text),
      1087px 1871px var(--theme-text), 36px 1546px var(--theme-text),
      132px 934px var(--theme-text), 1698px 901px var(--theme-text),
      1418px 664px var(--theme-text), 1448px 1157px var(--theme-text),
      1084px 232px var(--theme-text), 347px 1776px var(--theme-text),
      1722px 243px var(--theme-text), 1629px 835px var(--theme-text),
      479px 969px var(--theme-text), 1231px 960px var(--theme-text),
      586px 384px var(--theme-text), 164px 527px var(--theme-text),
      8px 646px var(--theme-text), 1150px 1126px var(--theme-text),
      665px 1357px var(--theme-text), 1556px 1982px var(--theme-text),
      1260px 1961px var(--theme-text), 1675px 1741px var(--theme-text),
      1843px 1514px var(--theme-text), 718px 1628px var(--theme-text),
      242px 1343px var(--theme-text), 1497px 1880px var(--theme-text),
      1364px 230px var(--theme-text), 1739px 1302px var(--theme-text),
      636px 959px var(--theme-text), 304px 686px var(--theme-text),
      614px 751px var(--theme-text), 1935px 816px var(--theme-text),
      1428px 60px var(--theme-text), 355px 335px var(--theme-text),
      1594px 158px var(--theme-text), 90px 60px var(--theme-text),
      1553px 162px var(--theme-text), 1239px 1825px var(--theme-text),
      1945px 587px var(--theme-text), 749px 1785px var(--theme-text),
      1987px 1172px var(--theme-text), 1301px 1237px var(--theme-text),
      1039px 342px var(--theme-text), 1585px 1481px var(--theme-text),
      995px 1048px var(--theme-text), 524px 932px var(--theme-text),
      214px 413px var(--theme-text), 1701px 1300px var(--theme-text),
      1037px 1613px var(--theme-text), 1871px 996px var(--theme-text),
      1360px 1635px var(--theme-text), 1110px 1313px var(--theme-text),
      412px 1783px var(--theme-text), 1949px 177px var(--theme-text),
      903px 1854px var(--theme-text), 700px 1936px var(--theme-text),
      378px 125px var(--theme-text), 308px 834px var(--theme-text),
      1118px 962px var(--theme-text), 1350px 1929px var(--theme-text),
      781px 1811px var(--theme-text), 561px 137px var(--theme-text),
      757px 1148px var(--theme-text), 1670px 1979px var(--theme-text),
      343px 739px var(--theme-text), 945px 795px var(--theme-text),
      576px 1903px var(--theme-text), 1078px 1436px var(--theme-text),
      1583px 450px var(--theme-text), 1366px 474px var(--theme-text),
      297px 1873px var(--theme-text), 192px 162px var(--theme-text),
      1624px 1633px var(--theme-text), 59px 453px var(--theme-text),
      82px 1872px var(--theme-text), 1933px 498px var(--theme-text),
      1966px 1974px var(--theme-text), 1975px 1688px var(--theme-text),
      779px 314px var(--theme-text), 1858px 1543px var(--theme-text),
      73px 1507px var(--theme-text), 1693px 975px var(--theme-text),
      1683px 108px var(--theme-text), 1768px 1654px var(--theme-text),
      654px 14px var(--theme-text), 494px 171px var(--theme-text),
      1689px 1895px var(--theme-text), 1660px 263px var(--theme-text),
      1031px 903px var(--theme-text), 1203px 1393px var(--theme-text),
      1333px 1421px var(--theme-text), 1113px 41px var(--theme-text),
      1206px 1645px var(--theme-text), 1325px 1635px var(--theme-text),
      142px 388px var(--theme-text), 572px 215px var(--theme-text),
      1535px 296px var(--theme-text), 1419px 407px var(--theme-text),
      1379px 1003px var(--theme-text), 329px 469px var(--theme-text),
      1791px 1652px var(--theme-text), 935px 1802px var(--theme-text),
      1330px 1820px var(--theme-text), 421px 1933px var(--theme-text),
      828px 365px var(--theme-text), 275px 316px var(--theme-text),
      707px 960px var(--theme-text), 1605px 1554px var(--theme-text),
      625px 58px var(--theme-text), 717px 1697px var(--theme-text),
      1669px 246px var(--theme-text), 1925px 322px var(--theme-text),
      1154px 1803px var(--theme-text), 1929px 295px var(--theme-text),
      1248px 240px var(--theme-text), 1045px 1755px var(--theme-text),
      166px 942px var(--theme-text), 1888px 1773px var(--theme-text),
      678px 1963px var(--theme-text), 1370px 569px var(--theme-text),
      1974px 1400px var(--theme-text), 1786px 460px var(--theme-text),
      51px 307px var(--theme-text), 784px 1400px var(--theme-text),
      730px 1258px var(--theme-text), 1712px 393px var(--theme-text),
      416px 170px var(--theme-text), 1797px 1932px var(--theme-text),
      572px 219px var(--theme-text), 1557px 1856px var(--theme-text),
      218px 8px var(--theme-text), 348px 1334px var(--theme-text),
      469px 413px var(--theme-text), 385px 1738px var(--theme-text),
      1357px 1818px var(--theme-text), 240px 942px var(--theme-text),
      248px 1847px var(--theme-text), 1535px 806px var(--theme-text),
      236px 1514px var(--theme-text), 1429px 1556px var(--theme-text),
      73px 1633px var(--theme-text), 1398px 1121px var(--theme-text),
      671px 1301px var(--theme-text), 1404px 1663px var(--theme-text),
      740px 1018px var(--theme-text), 1600px 377px var(--theme-text),
      785px 514px var(--theme-text), 112px 1084px var(--theme-text),
      1915px 1887px var(--theme-text), 1463px 1848px var(--theme-text),
      687px 1115px var(--theme-text), 1268px 1768px var(--theme-text),
      1729px 1425px var(--theme-text), 1284px 1022px var(--theme-text),
      801px 974px var(--theme-text), 1975px 1317px var(--theme-text),
      1354px 834px var(--theme-text), 1446px 1484px var(--theme-text),
      1283px 1786px var(--theme-text), 11px 523px var(--theme-text),
      1842px 236px var(--theme-text), 1355px 654px var(--theme-text),
      429px 7px var(--theme-text), 1033px 1128px var(--theme-text),
      157px 297px var(--theme-text), 545px 635px var(--theme-text),
      52px 1080px var(--theme-text), 827px 1520px var(--theme-text),
      1121px 490px var(--theme-text), 9px 309px var(--theme-text),
      1744px 1586px var(--theme-text), 1014px 417px var(--theme-text),
      1534px 524px var(--theme-text), 958px 552px var(--theme-text),
      1403px 1496px var(--theme-text), 387px 703px var(--theme-text),
      1522px 548px var(--theme-text), 1355px 282px var(--theme-text),
      1532px 601px var(--theme-text), 1838px 790px var(--theme-text),
      290px 259px var(--theme-text), 295px 598px var(--theme-text),
      1601px 539px var(--theme-text), 1561px 1272px var(--theme-text),
      34px 1922px var(--theme-text), 1024px 543px var(--theme-text),
      467px 369px var(--theme-text), 722px 333px var(--theme-text),
      1976px 1255px var(--theme-text), 766px 983px var(--theme-text),
      1582px 1285px var(--theme-text), 12px 512px var(--theme-text),
      617px 1410px var(--theme-text), 682px 577px var(--theme-text),
      1334px 1438px var(--theme-text), 439px 327px var(--theme-text),
      1617px 1661px var(--theme-text), 673px 129px var(--theme-text),
      794px 941px var(--theme-text), 1386px 1902px var(--theme-text),
      37px 1353px var(--theme-text), 1467px 1353px var(--theme-text),
      416px 18px var(--theme-text), 187px 344px var(--theme-text),
      200px 1898px var(--theme-text), 1491px 1619px var(--theme-text),
      811px 347px var(--theme-text), 924px 1827px var(--theme-text),
      945px 217px var(--theme-text), 1735px 1228px var(--theme-text),
      379px 1890px var(--theme-text), 79px 761px var(--theme-text),
      825px 1837px var(--theme-text), 1980px 1558px var(--theme-text),
      1308px 1573px var(--theme-text), 1488px 1726px var(--theme-text),
      382px 1208px var(--theme-text), 522px 595px var(--theme-text),
      1277px 1898px var(--theme-text), 354px 552px var(--theme-text),
      161px 1784px var(--theme-text), 614px 251px var(--theme-text),
      526px 1576px var(--theme-text), 17px 212px var(--theme-text),
      179px 996px var(--theme-text), 467px 1208px var(--theme-text),
      1944px 1838px var(--theme-text), 1140px 1093px var(--theme-text),
      858px 1007px var(--theme-text), 200px 1064px var(--theme-text),
      423px 1964px var(--theme-text), 1945px 439px var(--theme-text),
      1377px 689px var(--theme-text), 1120px 1437px var(--theme-text),
      1876px 668px var(--theme-text), 907px 1324px var(--theme-text),
      343px 1976px var(--theme-text), 1816px 1501px var(--theme-text),
      1849px 177px var(--theme-text), 647px 91px var(--theme-text),
      1984px 1012px var(--theme-text), 1336px 1300px var(--theme-text),
      128px 648px var(--theme-text), 305px 1060px var(--theme-text),
      1324px 826px var(--theme-text), 1263px 1314px var(--theme-text),
      1801px 629px var(--theme-text), 1614px 1555px var(--theme-text),
      1634px 90px var(--theme-text), 1603px 452px var(--theme-text),
      891px 1984px var(--theme-text), 1556px 1906px var(--theme-text),
      121px 68px var(--theme-text), 1676px 1714px var(--theme-text),
      516px 936px var(--theme-text), 1947px 1492px var(--theme-text),
      1455px 1519px var(--theme-text), 45px 602px var(--theme-text),
      205px 1039px var(--theme-text), 793px 172px var(--theme-text),
      1562px 1739px var(--theme-text), 1056px 110px var(--theme-text),
      1512px 379px var(--theme-text), 1795px 1621px var(--theme-text),
      1848px 607px var(--theme-text), 262px 1719px var(--theme-text),
      477px 991px var(--theme-text), 483px 883px var(--theme-text),
      1239px 1197px var(--theme-text), 1496px 647px var(--theme-text),
      1649px 25px var(--theme-text), 1491px 1946px var(--theme-text),
      119px 996px var(--theme-text), 179px 1472px var(--theme-text),
      1341px 808px var(--theme-text), 1565px 1700px var(--theme-text),
      407px 1544px var(--theme-text), 1754px 357px var(--theme-text),
      1288px 981px var(--theme-text), 902px 1997px var(--theme-text),
      1755px 1668px var(--theme-text), 186px 877px var(--theme-text),
      1202px 1882px var(--theme-text), 461px 1213px var(--theme-text),
      1400px 748px var(--theme-text), 1969px 1899px var(--theme-text),
      809px 522px var(--theme-text), 514px 1219px var(--theme-text),
      374px 275px var(--theme-text), 938px 1973px var(--theme-text),
      357px 552px var(--theme-text), 144px 1722px var(--theme-text),
      1572px 912px var(--theme-text), 402px 1858px var(--theme-text),
      1544px 1195px var(--theme-text), 667px 1257px var(--theme-text),
      727px 1496px var(--theme-text), 993px 232px var(--theme-text),
      1772px 313px var(--theme-text), 1040px 1590px var(--theme-text),
      1204px 1973px var(--theme-text), 1268px 79px var(--theme-text),
      1555px 1048px var(--theme-text), 986px 1707px var(--theme-text),
      978px 1710px var(--theme-text), 713px 360px var(--theme-text),
      407px 863px var(--theme-text), 461px 736px var(--theme-text),
      284px 1608px var(--theme-text), 103px 430px var(--theme-text),
      1283px 1319px var(--theme-text), 977px 1186px var(--theme-text),
      1966px 1516px var(--theme-text), 1287px 1129px var(--theme-text),
      70px 1098px var(--theme-text), 1189px 889px var(--theme-text),
      1126px 1734px var(--theme-text), 309px 1292px var(--theme-text),
      879px 764px var(--theme-text), 65px 473px var(--theme-text),
      1003px 1959px var(--theme-text), 658px 791px var(--theme-text),
      402px 1576px var(--theme-text), 35px 622px var(--theme-text),
      529px 1589px var(--theme-text), 164px 666px var(--theme-text),
      1876px 1290px var(--theme-text), 1541px 526px var(--theme-text),
      270px 1297px var(--theme-text), 440px 865px var(--theme-text),
      1500px 802px var(--theme-text), 182px 1754px var(--theme-text),
      1264px 892px var(--theme-text), 272px 1249px var(--theme-text),
      1289px 1535px var(--theme-text), 190px 1646px var(--theme-text),
      955px 242px var(--theme-text), 1456px 1597px var(--theme-text),
      1727px 1983px var(--theme-text), 635px 801px var(--theme-text),
      226px 455px var(--theme-text), 1396px 1710px var(--theme-text),
      849px 1863px var(--theme-text), 237px 1264px var(--theme-text),
      839px 140px var(--theme-text), 1122px 735px var(--theme-text),
      1280px 15px var(--theme-text), 1318px 242px var(--theme-text),
      1819px 1148px var(--theme-text), 333px 1392px var(--theme-text),
      1949px 553px var(--theme-text), 1878px 1332px var(--theme-text),
      467px 548px var(--theme-text), 1812px 1082px var(--theme-text),
      1067px 193px var(--theme-text), 243px 156px var(--theme-text),
      483px 1616px var(--theme-text), 1714px 933px var(--theme-text),
      759px 1800px var(--theme-text), 1822px 995px var(--theme-text),
      1877px 572px var(--theme-text), 581px 1084px var(--theme-text),
      107px 732px var(--theme-text), 642px 1837px var(--theme-text),
      166px 1493px var(--theme-text), 1555px 198px var(--theme-text),
      819px 307px var(--theme-text), 947px 345px var(--theme-text),
      827px 224px var(--theme-text), 927px 1394px var(--theme-text),
      540px 467px var(--theme-text), 1093px 405px var(--theme-text),
      1140px 927px var(--theme-text), 130px 529px var(--theme-text),
      33px 1980px var(--theme-text), 1147px 1663px var(--theme-text),
      1616px 1436px var(--theme-text), 528px 710px var(--theme-text),
      798px 1100px var(--theme-text), 505px 1480px var(--theme-text),
      899px 641px var(--theme-text), 1909px 1949px var(--theme-text),
      1311px 964px var(--theme-text), 979px 1301px var(--theme-text),
      1393px 969px var(--theme-text), 1793px 1886px var(--theme-text),
      292px 357px var(--theme-text), 1196px 1718px var(--theme-text),
      1290px 1994px var(--theme-text), 537px 1973px var(--theme-text),
      1181px 1674px var(--theme-text), 1740px 1566px var(--theme-text),
      1307px 265px var(--theme-text), 922px 522px var(--theme-text),
      1892px 472px var(--theme-text), 384px 1746px var(--theme-text),
      392px 1098px var(--theme-text), 647px 548px var(--theme-text),
      390px 1498px var(--theme-text), 1246px 138px var(--theme-text),
      730px 876px var(--theme-text), 192px 1472px var(--theme-text),
      1790px 1789px var(--theme-text), 928px 311px var(--theme-text),
      1253px 1647px var(--theme-text), 747px 1921px var(--theme-text),
      1561px 1025px var(--theme-text), 1533px 1292px var(--theme-text),
      1985px 195px var(--theme-text), 728px 729px var(--theme-text),
      1712px 1936px var(--theme-text), 512px 1717px var(--theme-text),
      1528px 483px var(--theme-text), 313px 1642px var(--theme-text),
      281px 1849px var(--theme-text), 1212px 799px var(--theme-text),
      435px 1191px var(--theme-text), 1422px 611px var(--theme-text),
      1718px 1964px var(--theme-text), 411px 944px var(--theme-text),
      210px 636px var(--theme-text), 1502px 1295px var(--theme-text),
      1434px 349px var(--theme-text), 769px 60px var(--theme-text),
      747px 1053px var(--theme-text), 789px 504px var(--theme-text),
      1436px 1264px var(--theme-text), 1893px 1225px var(--theme-text),
      1394px 1788px var(--theme-text), 1108px 1317px var(--theme-text),
      1673px 1395px var(--theme-text), 854px 1010px var(--theme-text),
      1705px 80px var(--theme-text), 1858px 148px var(--theme-text),
      1729px 344px var(--theme-text), 1388px 664px var(--theme-text),
      895px 406px var(--theme-text), 1479px 157px var(--theme-text),
      1441px 1157px var(--theme-text), 552px 1900px var(--theme-text),
      516px 364px var(--theme-text), 1647px 189px var(--theme-text),
      1427px 1071px var(--theme-text), 785px 729px var(--theme-text),
      1080px 1710px var(--theme-text), 504px 204px var(--theme-text),
      1177px 1622px var(--theme-text), 657px 34px var(--theme-text),
      1296px 1099px var(--theme-text), 248px 180px var(--theme-text),
      1212px 1568px var(--theme-text), 667px 1562px var(--theme-text),
      695px 841px var(--theme-text), 1608px 1247px var(--theme-text),
      751px 882px var(--theme-text), 87px 167px var(--theme-text),
      607px 1368px var(--theme-text), 1363px 1203px var(--theme-text),
      1836px 317px var(--theme-text), 1668px 1703px var(--theme-text),
      830px 1154px var(--theme-text), 1721px 1398px var(--theme-text),
      1601px 1280px var(--theme-text), 976px 874px var(--theme-text),
      1743px 254px var(--theme-text), 1020px 1815px var(--theme-text),
      1670px 1766px var(--theme-text), 1890px 735px var(--theme-text),
      1379px 136px var(--theme-text), 1864px 695px var(--theme-text),
      206px 965px var(--theme-text), 1404px 1932px var(--theme-text),
      1923px 1360px var(--theme-text), 247px 682px var(--theme-text),
      519px 1708px var(--theme-text), 645px 750px var(--theme-text),
      1164px 1204px var(--theme-text), 834px 323px var(--theme-text),
      172px 1350px var(--theme-text), 213px 972px var(--theme-text),
      1837px 190px var(--theme-text), 285px 1806px var(--theme-text),
      1047px 1299px var(--theme-text), 1548px 825px var(--theme-text),
      1730px 324px var(--theme-text), 1346px 1909px var(--theme-text),
      772px 270px var(--theme-text), 345px 1190px var(--theme-text),
      478px 1433px var(--theme-text), 1479px 25px var(--theme-text),
      1994px 1830px var(--theme-text), 1744px 732px var(--theme-text),
      20px 1635px var(--theme-text), 690px 1795px var(--theme-text),
      1594px 569px var(--theme-text), 579px 245px var(--theme-text),
      1398px 733px var(--theme-text), 408px 1352px var(--theme-text),
      1774px 120px var(--theme-text), 1152px 1370px var(--theme-text),
      1698px 1810px var(--theme-text), 710px 1450px var(--theme-text),
      665px 286px var(--theme-text), 493px 1720px var(--theme-text),
      786px 5px var(--theme-text), 637px 1140px var(--theme-text),
      764px 324px var(--theme-text), 927px 310px var(--theme-text),
      938px 1424px var(--theme-text), 1884px 744px var(--theme-text),
      913px 462px var(--theme-text), 1831px 1936px var(--theme-text),
      1527px 249px var(--theme-text), 36px 1381px var(--theme-text),
      1597px 581px var(--theme-text), 1530px 355px var(--theme-text),
      949px 459px var(--theme-text), 799px 828px var(--theme-text),
      242px 1471px var(--theme-text), 654px 797px var(--theme-text),
      796px 594px var(--theme-text), 1365px 678px var(--theme-text),
      752px 23px var(--theme-text), 1630px 541px var(--theme-text),
      982px 72px var(--theme-text), 1733px 1831px var(--theme-text),
      21px 412px var(--theme-text), 775px 998px var(--theme-text),
      335px 1945px var(--theme-text), 264px 583px var(--theme-text),
      158px 1311px var(--theme-text), 528px 164px var(--theme-text),
      1978px 574px var(--theme-text), 717px 1203px var(--theme-text),
      734px 1591px var(--theme-text), 1555px 820px var(--theme-text),
      16px 1943px var(--theme-text), 1625px 1177px var(--theme-text),
      1236px 690px var(--theme-text), 1585px 1590px var(--theme-text),
      1737px 1728px var(--theme-text), 721px 698px var(--theme-text),
      1804px 1186px var(--theme-text), 166px 980px var(--theme-text),
      1850px 230px var(--theme-text), 330px 1712px var(--theme-text),
      95px 797px var(--theme-text), 1948px 1078px var(--theme-text),
      469px 939px var(--theme-text), 1269px 1899px var(--theme-text),
      955px 1220px var(--theme-text), 1137px 1075px var(--theme-text),
      312px 1293px var(--theme-text), 986px 1762px var(--theme-text),
      1103px 1238px var(--theme-text), 428px 1993px var(--theme-text),
      355px 570px var(--theme-text), 977px 1836px var(--theme-text),
      1395px 1092px var(--theme-text), 276px 913px var(--theme-text),
      1743px 656px var(--theme-text), 773px 502px var(--theme-text),
      1686px 1322px var(--theme-text), 1516px 1945px var(--theme-text),
      1334px 501px var(--theme-text), 266px 156px var(--theme-text),
      455px 655px var(--theme-text), 798px 72px var(--theme-text),
      1059px 1259px var(--theme-text), 1402px 1687px var(--theme-text),
      236px 1329px var(--theme-text), 1455px 786px var(--theme-text),
      146px 1228px var(--theme-text), 1851px 823px var(--theme-text),
      1062px 100px var(--theme-text), 1220px 953px var(--theme-text),
      20px 1826px var(--theme-text), 36px 1063px var(--theme-text),
      1525px 338px var(--theme-text), 790px 1521px var(--theme-text),
      741px 1099px var(--theme-text), 288px 1489px var(--theme-text),
      700px 1060px var(--theme-text), 390px 1071px var(--theme-text),
      411px 1036px var(--theme-text), 1853px 1072px var(--theme-text),
      1446px 1085px var(--theme-text), 1164px 874px var(--theme-text),
      924px 925px var(--theme-text), 291px 271px var(--theme-text),
      1257px 1964px var(--theme-text), 1580px 1352px var(--theme-text),
      1507px 1216px var(--theme-text), 211px 956px var(--theme-text),
      985px 1195px var(--theme-text), 975px 1640px var(--theme-text),
      518px 101px var(--theme-text), 663px 1395px var(--theme-text),
      914px 532px var(--theme-text), 145px 1320px var(--theme-text),
      69px 1397px var(--theme-text), 982px 523px var(--theme-text),
      257px 725px var(--theme-text), 1599px 831px var(--theme-text),
      1636px 1513px var(--theme-text), 1250px 1158px var(--theme-text),
      1132px 604px var(--theme-text), 183px 102px var(--theme-text),
      1057px 318px var(--theme-text), 1247px 1835px var(--theme-text),
      1983px 1110px var(--theme-text), 1077px 1455px var(--theme-text),
      921px 1770px var(--theme-text), 806px 1350px var(--theme-text),
      1938px 1992px var(--theme-text), 855px 1260px var(--theme-text),
      902px 1345px var(--theme-text), 658px 1908px var(--theme-text),
      1845px 679px var(--theme-text), 712px 1482px var(--theme-text),
      595px 950px var(--theme-text), 1784px 1992px var(--theme-text),
      1847px 1785px var(--theme-text), 691px 1004px var(--theme-text),
      175px 1179px var(--theme-text), 1666px 1911px var(--theme-text),
      41px 61px var(--theme-text), 971px 1080px var(--theme-text),
      1830px 1450px var(--theme-text), 1351px 1518px var(--theme-text),
      1257px 99px var(--theme-text), 1395px 1498px var(--theme-text),
      1117px 252px var(--theme-text), 1779px 597px var(--theme-text),
      1346px 729px var(--theme-text), 1108px 1144px var(--theme-text),
      402px 691px var(--theme-text), 72px 496px var(--theme-text),
      1673px 1604px var(--theme-text), 1497px 974px var(--theme-text),
      1865px 1664px var(--theme-text), 88px 806px var(--theme-text),
      918px 77px var(--theme-text), 244px 1118px var(--theme-text),
      256px 1820px var(--theme-text), 1851px 1840px var(--theme-text),
      605px 1851px var(--theme-text), 634px 383px var(--theme-text),
      865px 37px var(--theme-text), 943px 1024px var(--theme-text),
      1951px 177px var(--theme-text), 1097px 523px var(--theme-text),
      985px 1700px var(--theme-text), 1243px 122px var(--theme-text),
      768px 1070px var(--theme-text), 468px 194px var(--theme-text),
      320px 1867px var(--theme-text), 1850px 185px var(--theme-text),
      380px 1616px var(--theme-text), 468px 1294px var(--theme-text),
      1122px 1743px var(--theme-text), 884px 299px var(--theme-text),
      1300px 1917px var(--theme-text), 1860px 396px var(--theme-text),
      1270px 990px var(--theme-text), 529px 733px var(--theme-text),
      1975px 1347px var(--theme-text), 1885px 685px var(--theme-text),
      226px 506px var(--theme-text), 651px 878px var(--theme-text),
      1323px 680px var(--theme-text), 1284px 680px var(--theme-text),
      238px 1967px var(--theme-text), 911px 174px var(--theme-text),
      1111px 521px var(--theme-text), 1150px 85px var(--theme-text),
      794px 502px var(--theme-text), 484px 1856px var(--theme-text),
      1809px 368px var(--theme-text), 112px 953px var(--theme-text),
      590px 1009px var(--theme-text), 1655px 311px var(--theme-text),
      100px 1026px var(--theme-text), 1803px 352px var(--theme-text),
      865px 306px var(--theme-text), 1077px 1019px var(--theme-text),
      1335px 872px var(--theme-text), 1647px 1298px var(--theme-text),
      1233px 1387px var(--theme-text), 698px 1036px var(--theme-text),
      659px 1860px var(--theme-text), 388px 1412px var(--theme-text),
      1212px 458px var(--theme-text), 755px 1468px var(--theme-text),
      696px 1654px var(--theme-text), 1144px 60px var(--theme-text);
  }
  .stars2 {
    width: 2px;
    height: 2px;
    animation: star 200s linear infinite;
    /* STARS2 */
    /* ----------------------------------------------------------------------------- */
    box-shadow: 1448px 320px var(--theme-text), 1775px 1663px var(--theme-text),
      332px 1364px var(--theme-text), 878px 340px var(--theme-text),
      569px 1832px var(--theme-text), 1422px 1684px var(--theme-text),
      1946px 1907px var(--theme-text), 121px 979px var(--theme-text),
      1044px 1069px var(--theme-text), 463px 381px var(--theme-text),
      423px 112px var(--theme-text), 523px 1179px var(--theme-text),
      779px 654px var(--theme-text), 1398px 694px var(--theme-text),
      1085px 1464px var(--theme-text), 1599px 1869px var(--theme-text),
      801px 1882px var(--theme-text), 779px 1231px var(--theme-text),
      552px 932px var(--theme-text), 1057px 1196px var(--theme-text),
      282px 1280px var(--theme-text), 496px 1986px var(--theme-text),
      1833px 1120px var(--theme-text), 1802px 1293px var(--theme-text),
      6px 1696px var(--theme-text), 412px 1902px var(--theme-text),
      605px 438px var(--theme-text), 24px 1212px var(--theme-text),
      234px 1320px var(--theme-text), 544px 344px var(--theme-text),
      1107px 170px var(--theme-text), 1603px 196px var(--theme-text),
      905px 648px var(--theme-text), 68px 1458px var(--theme-text),
      649px 1969px var(--theme-text), 744px 675px var(--theme-text),
      1127px 478px var(--theme-text), 714px 1814px var(--theme-text),
      1486px 526px var(--theme-text), 270px 1636px var(--theme-text),
      1931px 149px var(--theme-text), 1807px 378px var(--theme-text),
      8px 390px var(--theme-text), 1415px 699px var(--theme-text),
      1473px 1211px var(--theme-text), 1590px 141px var(--theme-text),
      270px 1705px var(--theme-text), 69px 1423px var(--theme-text),
      1108px 1053px var(--theme-text), 1946px 128px var(--theme-text),
      371px 371px var(--theme-text), 1490px 220px var(--theme-text),
      357px 1885px var(--theme-text), 363px 363px var(--theme-text),
      1896px 1256px var(--theme-text), 1979px 1050px var(--theme-text),
      947px 1342px var(--theme-text), 1754px 242px var(--theme-text),
      514px 974px var(--theme-text), 65px 1477px var(--theme-text),
      1840px 547px var(--theme-text), 950px 695px var(--theme-text),
      459px 1150px var(--theme-text), 1124px 1502px var(--theme-text),
      481px 940px var(--theme-text), 680px 839px var(--theme-text),
      797px 1169px var(--theme-text), 1977px 1491px var(--theme-text),
      734px 1724px var(--theme-text), 210px 298px var(--theme-text),
      816px 628px var(--theme-text), 686px 770px var(--theme-text),
      1721px 267px var(--theme-text), 1663px 511px var(--theme-text),
      1481px 1141px var(--theme-text), 582px 248px var(--theme-text),
      1308px 953px var(--theme-text), 628px 657px var(--theme-text),
      897px 1535px var(--theme-text), 270px 931px var(--theme-text),
      791px 467px var(--theme-text), 1336px 1732px var(--theme-text),
      1013px 1653px var(--theme-text), 1911px 956px var(--theme-text),
      587px 816px var(--theme-text), 83px 456px var(--theme-text),
      930px 1478px var(--theme-text), 1587px 1694px var(--theme-text),
      614px 1200px var(--theme-text), 302px 1782px var(--theme-text),
      1711px 1432px var(--theme-text), 443px 904px var(--theme-text),
      1666px 714px var(--theme-text), 1588px 1167px var(--theme-text),
      273px 1075px var(--theme-text), 1679px 461px var(--theme-text),
      721px 664px var(--theme-text), 1202px 10px var(--theme-text),
      166px 1126px var(--theme-text), 331px 1628px var(--theme-text),
      430px 1565px var(--theme-text), 1585px 509px var(--theme-text),
      640px 38px var(--theme-text), 822px 837px var(--theme-text),
      1760px 1664px var(--theme-text), 1122px 1458px var(--theme-text),
      398px 131px var(--theme-text), 689px 285px var(--theme-text),
      460px 652px var(--theme-text), 1627px 365px var(--theme-text),
      348px 1648px var(--theme-text), 819px 1946px var(--theme-text),
      981px 1917px var(--theme-text), 323px 76px var(--theme-text),
      979px 684px var(--theme-text), 887px 536px var(--theme-text),
      1348px 1596px var(--theme-text), 1055px 666px var(--theme-text),
      1402px 1797px var(--theme-text), 1300px 1055px var(--theme-text),
      937px 238px var(--theme-text), 1474px 1815px var(--theme-text),
      1144px 1710px var(--theme-text), 1629px 1087px var(--theme-text),
      911px 919px var(--theme-text), 771px 819px var(--theme-text),
      403px 720px var(--theme-text), 163px 736px var(--theme-text),
      1062px 238px var(--theme-text), 1774px 818px var(--theme-text),
      1874px 1178px var(--theme-text), 1177px 699px var(--theme-text),
      1244px 1244px var(--theme-text), 1371px 58px var(--theme-text),
      564px 1515px var(--theme-text), 1824px 487px var(--theme-text),
      929px 702px var(--theme-text), 394px 1348px var(--theme-text),
      1161px 641px var(--theme-text), 219px 1841px var(--theme-text),
      358px 941px var(--theme-text), 140px 1759px var(--theme-text),
      1019px 1345px var(--theme-text), 274px 436px var(--theme-text),
      1433px 1605px var(--theme-text), 1798px 1426px var(--theme-text),
      294px 1848px var(--theme-text), 1681px 1877px var(--theme-text),
      1344px 1824px var(--theme-text), 1439px 1632px var(--theme-text),
      161px 1012px var(--theme-text), 1308px 588px var(--theme-text),
      1789px 582px var(--theme-text), 721px 1910px var(--theme-text),
      318px 218px var(--theme-text), 607px 319px var(--theme-text),
      495px 535px var(--theme-text), 1552px 1575px var(--theme-text),
      1562px 67px var(--theme-text), 403px 926px var(--theme-text),
      1096px 1800px var(--theme-text), 1814px 1709px var(--theme-text),
      1882px 1831px var(--theme-text), 533px 46px var(--theme-text),
      823px 969px var(--theme-text), 530px 165px var(--theme-text),
      1030px 352px var(--theme-text), 1681px 313px var(--theme-text),
      338px 115px var(--theme-text), 1607px 211px var(--theme-text),
      1718px 1184px var(--theme-text), 1589px 659px var(--theme-text),
      278px 355px var(--theme-text), 464px 1464px var(--theme-text),
      1165px 277px var(--theme-text), 950px 694px var(--theme-text),
      1746px 293px var(--theme-text), 793px 911px var(--theme-text),
      528px 773px var(--theme-text), 1883px 1694px var(--theme-text),
      748px 182px var(--theme-text), 1924px 1531px var(--theme-text),
      100px 636px var(--theme-text), 1473px 1445px var(--theme-text),
      1264px 1244px var(--theme-text), 850px 1377px var(--theme-text),
      987px 1976px var(--theme-text), 933px 1761px var(--theme-text),
      922px 1270px var(--theme-text), 500px 396px var(--theme-text),
      1324px 8px var(--theme-text), 1967px 1814px var(--theme-text),
      1072px 1401px var(--theme-text), 961px 37px var(--theme-text),
      156px 81px var(--theme-text), 1915px 502px var(--theme-text),
      1076px 1846px var(--theme-text), 152px 1669px var(--theme-text),
      986px 1529px var(--theme-text), 1667px 1137px var(--theme-text);
  }
  .stars:after {
    width: 2px;
    height: 2px;
    /* STARS2: AFTER */
    /* ----------------------------------------------------------------------------- */
    box-shadow: 1448px 320px var(--theme-text), 1775px 1663px var(--theme-text),
      332px 1364px var(--theme-text), 878px 340px var(--theme-text),
      569px 1832px var(--theme-text), 1422px 1684px var(--theme-text),
      1946px 1907px var(--theme-text), 121px 979px var(--theme-text),
      1044px 1069px var(--theme-text), 463px 381px var(--theme-text),
      423px 112px var(--theme-text), 523px 1179px var(--theme-text),
      779px 654px var(--theme-text), 1398px 694px var(--theme-text),
      1085px 1464px var(--theme-text), 1599px 1869px var(--theme-text),
      801px 1882px var(--theme-text), 779px 1231px var(--theme-text),
      552px 932px var(--theme-text), 1057px 1196px var(--theme-text),
      282px 1280px var(--theme-text), 496px 1986px var(--theme-text),
      1833px 1120px var(--theme-text), 1802px 1293px var(--theme-text),
      6px 1696px var(--theme-text), 412px 1902px var(--theme-text),
      605px 438px var(--theme-text), 24px 1212px var(--theme-text),
      234px 1320px var(--theme-text), 544px 344px var(--theme-text),
      1107px 170px var(--theme-text), 1603px 196px var(--theme-text),
      905px 648px var(--theme-text), 68px 1458px var(--theme-text),
      649px 1969px var(--theme-text), 744px 675px var(--theme-text),
      1127px 478px var(--theme-text), 714px 1814px var(--theme-text),
      1486px 526px var(--theme-text), 270px 1636px var(--theme-text),
      1931px 149px var(--theme-text), 1807px 378px var(--theme-text),
      8px 390px var(--theme-text), 1415px 699px var(--theme-text),
      1473px 1211px var(--theme-text), 1590px 141px var(--theme-text),
      270px 1705px var(--theme-text), 69px 1423px var(--theme-text),
      1108px 1053px var(--theme-text), 1946px 128px var(--theme-text),
      371px 371px var(--theme-text), 1490px 220px var(--theme-text),
      357px 1885px var(--theme-text), 363px 363px var(--theme-text),
      1896px 1256px var(--theme-text), 1979px 1050px var(--theme-text),
      947px 1342px var(--theme-text), 1754px 242px var(--theme-text),
      514px 974px var(--theme-text), 65px 1477px var(--theme-text),
      1840px 547px var(--theme-text), 950px 695px var(--theme-text),
      459px 1150px var(--theme-text), 1124px 1502px var(--theme-text),
      481px 940px var(--theme-text), 680px 839px var(--theme-text),
      797px 1169px var(--theme-text), 1977px 1491px var(--theme-text),
      734px 1724px var(--theme-text), 210px 298px var(--theme-text),
      816px 628px var(--theme-text), 686px 770px var(--theme-text),
      1721px 267px var(--theme-text), 1663px 511px var(--theme-text),
      1481px 1141px var(--theme-text), 582px 248px var(--theme-text),
      1308px 953px var(--theme-text), 628px 657px var(--theme-text),
      897px 1535px var(--theme-text), 270px 931px var(--theme-text),
      791px 467px var(--theme-text), 1336px 1732px var(--theme-text),
      1013px 1653px var(--theme-text), 1911px 956px var(--theme-text),
      587px 816px var(--theme-text), 83px 456px var(--theme-text),
      930px 1478px var(--theme-text), 1587px 1694px var(--theme-text),
      614px 1200px var(--theme-text), 302px 1782px var(--theme-text),
      1711px 1432px var(--theme-text), 443px 904px var(--theme-text),
      1666px 714px var(--theme-text), 1588px 1167px var(--theme-text),
      273px 1075px var(--theme-text), 1679px 461px var(--theme-text),
      721px 664px var(--theme-text), 1202px 10px var(--theme-text),
      166px 1126px var(--theme-text), 331px 1628px var(--theme-text),
      430px 1565px var(--theme-text), 1585px 509px var(--theme-text),
      640px 38px var(--theme-text), 822px 837px var(--theme-text),
      1760px 1664px var(--theme-text), 1122px 1458px var(--theme-text),
      398px 131px var(--theme-text), 689px 285px var(--theme-text),
      460px 652px var(--theme-text), 1627px 365px var(--theme-text),
      348px 1648px var(--theme-text), 819px 1946px var(--theme-text),
      981px 1917px var(--theme-text), 323px 76px var(--theme-text),
      979px 684px var(--theme-text), 887px 536px var(--theme-text),
      1348px 1596px var(--theme-text), 1055px 666px var(--theme-text),
      1402px 1797px var(--theme-text), 1300px 1055px var(--theme-text),
      937px 238px var(--theme-text), 1474px 1815px var(--theme-text),
      1144px 1710px var(--theme-text), 1629px 1087px var(--theme-text),
      911px 919px var(--theme-text), 771px 819px var(--theme-text),
      403px 720px var(--theme-text), 163px 736px var(--theme-text),
      1062px 238px var(--theme-text), 1774px 818px var(--theme-text),
      1874px 1178px var(--theme-text), 1177px 699px var(--theme-text),
      1244px 1244px var(--theme-text), 1371px 58px var(--theme-text),
      564px 1515px var(--theme-text), 1824px 487px var(--theme-text),
      929px 702px var(--theme-text), 394px 1348px var(--theme-text),
      1161px 641px var(--theme-text), 219px 1841px var(--theme-text),
      358px 941px var(--theme-text), 140px 1759px var(--theme-text),
      1019px 1345px var(--theme-text), 274px 436px var(--theme-text),
      1433px 1605px var(--theme-text), 1798px 1426px var(--theme-text),
      294px 1848px var(--theme-text), 1681px 1877px var(--theme-text),
      1344px 1824px var(--theme-text), 1439px 1632px var(--theme-text),
      161px 1012px var(--theme-text), 1308px 588px var(--theme-text),
      1789px 582px var(--theme-text), 721px 1910px var(--theme-text),
      318px 218px var(--theme-text), 607px 319px var(--theme-text),
      495px 535px var(--theme-text), 1552px 1575px var(--theme-text),
      1562px 67px var(--theme-text), 403px 926px var(--theme-text),
      1096px 1800px var(--theme-text), 1814px 1709px var(--theme-text),
      1882px 1831px var(--theme-text), 533px 46px var(--theme-text),
      823px 969px var(--theme-text), 530px 165px var(--theme-text),
      1030px 352px var(--theme-text), 1681px 313px var(--theme-text),
      338px 115px var(--theme-text), 1607px 211px var(--theme-text),
      1718px 1184px var(--theme-text), 1589px 659px var(--theme-text),
      278px 355px var(--theme-text), 464px 1464px var(--theme-text),
      1165px 277px var(--theme-text), 950px 694px var(--theme-text),
      1746px 293px var(--theme-text), 793px 911px var(--theme-text),
      528px 773px var(--theme-text), 1883px 1694px var(--theme-text),
      748px 182px var(--theme-text), 1924px 1531px var(--theme-text),
      100px 636px var(--theme-text), 1473px 1445px var(--theme-text),
      1264px 1244px var(--theme-text), 850px 1377px var(--theme-text),
      987px 1976px var(--theme-text), 933px 1761px var(--theme-text),
      922px 1270px var(--theme-text), 500px 396px var(--theme-text),
      1324px 8px var(--theme-text), 1967px 1814px var(--theme-text),
      1072px 1401px var(--theme-text), 961px 37px var(--theme-text),
      156px 81px var(--theme-text), 1915px 502px var(--theme-text),
      1076px 1846px var(--theme-text), 152px 1669px var(--theme-text),
      986px 1529px var(--theme-text), 1667px 1137px var(--theme-text);
  }
  .stars3 {
    width: 3px;
    height: 3px;
    animation: star 300s linear infinite;
    /* STARS3 */
    /* ----------------------------------------------------------------------------- */
    box-shadow: 387px 1878px var(--theme-text), 760px 1564px var(--theme-text),
      1487px 999px var(--theme-text), 948px 1828px var(--theme-text),
      1977px 1001px var(--theme-text), 1284px 1963px var(--theme-text),
      656px 284px var(--theme-text), 1268px 1635px var(--theme-text),
      1820px 598px var(--theme-text), 642px 1900px var(--theme-text),
      296px 57px var(--theme-text), 921px 1620px var(--theme-text),
      476px 1858px var(--theme-text), 658px 613px var(--theme-text),
      1171px 1363px var(--theme-text), 1419px 283px var(--theme-text),
      1037px 731px var(--theme-text), 503px 663px var(--theme-text),
      1562px 463px var(--theme-text), 383px 1197px var(--theme-text),
      1171px 1233px var(--theme-text), 876px 1768px var(--theme-text),
      856px 1615px var(--theme-text), 1375px 1924px var(--theme-text),
      1725px 918px var(--theme-text), 952px 119px var(--theme-text),
      768px 1212px var(--theme-text), 992px 1462px var(--theme-text),
      1929px 717px var(--theme-text), 1947px 755px var(--theme-text),
      1818px 1123px var(--theme-text), 1896px 1672px var(--theme-text),
      460px 198px var(--theme-text), 256px 271px var(--theme-text),
      752px 544px var(--theme-text), 1222px 1859px var(--theme-text),
      1851px 443px var(--theme-text), 313px 1858px var(--theme-text),
      709px 446px var(--theme-text), 1546px 697px var(--theme-text),
      674px 1155px var(--theme-text), 1112px 130px var(--theme-text),
      355px 1790px var(--theme-text), 1496px 974px var(--theme-text),
      1696px 480px var(--theme-text), 1316px 1265px var(--theme-text),
      1645px 1063px var(--theme-text), 1182px 237px var(--theme-text),
      427px 1582px var(--theme-text), 859px 253px var(--theme-text),
      458px 939px var(--theme-text), 1517px 1644px var(--theme-text),
      1943px 60px var(--theme-text), 212px 1650px var(--theme-text),
      966px 1786px var(--theme-text), 473px 712px var(--theme-text),
      130px 76px var(--theme-text), 1417px 1186px var(--theme-text),
      909px 1580px var(--theme-text), 1913px 762px var(--theme-text),
      204px 1143px var(--theme-text), 1998px 1057px var(--theme-text),
      1468px 1301px var(--theme-text), 144px 1676px var(--theme-text),
      21px 1601px var(--theme-text), 382px 1362px var(--theme-text),
      912px 753px var(--theme-text), 1488px 1405px var(--theme-text),
      802px 156px var(--theme-text), 174px 550px var(--theme-text),
      338px 1366px var(--theme-text), 1197px 774px var(--theme-text),
      602px 486px var(--theme-text), 682px 1877px var(--theme-text),
      348px 1503px var(--theme-text), 407px 1139px var(--theme-text),
      950px 1400px var(--theme-text), 922px 1139px var(--theme-text),
      1697px 293px var(--theme-text), 1238px 1281px var(--theme-text),
      1038px 1197px var(--theme-text), 376px 1889px var(--theme-text),
      1255px 1680px var(--theme-text), 1008px 1316px var(--theme-text),
      1538px 1447px var(--theme-text), 1186px 874px var(--theme-text),
      1967px 640px var(--theme-text), 1341px 19px var(--theme-text),
      29px 1732px var(--theme-text), 16px 1650px var(--theme-text),
      1021px 1075px var(--theme-text), 723px 424px var(--theme-text),
      1175px 41px var(--theme-text), 494px 1957px var(--theme-text),
      1296px 431px var(--theme-text), 175px 1507px var(--theme-text),
      831px 121px var(--theme-text), 498px 1947px var(--theme-text),
      617px 880px var(--theme-text), 240px 403px var(--theme-text);
  }
  .stars3:after {
    width: 3px;
    height: 3px;
    /* STARS3: AFTER */
    /* ----------------------------------------------------------------------------- */
    box-shadow: 387px 1878px var(--theme-text), 760px 1564px var(--theme-text),
      1487px 999px var(--theme-text), 948px 1828px var(--theme-text),
      1977px 1001px var(--theme-text), 1284px 1963px var(--theme-text),
      656px 284px var(--theme-text), 1268px 1635px var(--theme-text),
      1820px 598px var(--theme-text), 642px 1900px var(--theme-text),
      296px 57px var(--theme-text), 921px 1620px var(--theme-text),
      476px 1858px var(--theme-text), 658px 613px var(--theme-text),
      1171px 1363px var(--theme-text), 1419px 283px var(--theme-text),
      1037px 731px var(--theme-text), 503px 663px var(--theme-text),
      1562px 463px var(--theme-text), 383px 1197px var(--theme-text),
      1171px 1233px var(--theme-text), 876px 1768px var(--theme-text),
      856px 1615px var(--theme-text), 1375px 1924px var(--theme-text),
      1725px 918px var(--theme-text), 952px 119px var(--theme-text),
      768px 1212px var(--theme-text), 992px 1462px var(--theme-text),
      1929px 717px var(--theme-text), 1947px 755px var(--theme-text),
      1818px 1123px var(--theme-text), 1896px 1672px var(--theme-text),
      460px 198px var(--theme-text), 256px 271px var(--theme-text),
      752px 544px var(--theme-text), 1222px 1859px var(--theme-text),
      1851px 443px var(--theme-text), 313px 1858px var(--theme-text),
      709px 446px var(--theme-text), 1546px 697px var(--theme-text),
      674px 1155px var(--theme-text), 1112px 130px var(--theme-text),
      355px 1790px var(--theme-text), 1496px 974px var(--theme-text),
      1696px 480px var(--theme-text), 1316px 1265px var(--theme-text),
      1645px 1063px var(--theme-text), 1182px 237px var(--theme-text),
      427px 1582px var(--theme-text), 859px 253px var(--theme-text),
      458px 939px var(--theme-text), 1517px 1644px var(--theme-text),
      1943px 60px var(--theme-text), 212px 1650px var(--theme-text),
      966px 1786px var(--theme-text), 473px 712px var(--theme-text),
      130px 76px var(--theme-text), 1417px 1186px var(--theme-text),
      909px 1580px var(--theme-text), 1913px 762px var(--theme-text),
      204px 1143px var(--theme-text), 1998px 1057px var(--theme-text),
      1468px 1301px var(--theme-text), 144px 1676px var(--theme-text),
      21px 1601px var(--theme-text), 382px 1362px var(--theme-text),
      912px 753px var(--theme-text), 1488px 1405px var(--theme-text),
      802px 156px var(--theme-text), 174px 550px var(--theme-text),
      338px 1366px var(--theme-text), 1197px 774px var(--theme-text),
      602px 486px var(--theme-text), 682px 1877px var(--theme-text),
      348px 1503px var(--theme-text), 407px 1139px var(--theme-text),
      950px 1400px var(--theme-text), 922px 1139px var(--theme-text),
      1697px 293px var(--theme-text), 1238px 1281px var(--theme-text),
      1038px 1197px var(--theme-text), 376px 1889px var(--theme-text),
      1255px 1680px var(--theme-text), 1008px 1316px var(--theme-text),
      1538px 1447px var(--theme-text), 1186px 874px var(--theme-text),
      1967px 640px var(--theme-text), 1341px 19px var(--theme-text),
      29px 1732px var(--theme-text), 16px 1650px var(--theme-text),
      1021px 1075px var(--theme-text), 723px 424px var(--theme-text),
      1175px 41px var(--theme-text), 494px 1957px var(--theme-text),
      1296px 431px var(--theme-text), 175px 1507px var(--theme-text),
      831px 121px var(--theme-text), 498px 1947px var(--theme-text),
      617px 880px var(--theme-text), 240px 403px var(--theme-text);
  }
</style>
