<div>
  <p>Hello</p>
  <ul>
    <li>one</li>
    <li>two</li>
  </ul>
  <input>
  <img>
  <br>
  <div />
  <Component class={foo} {...props} />
  <Component>World</Component>
  <div is:raw><p>raw text</div>
</div>
