<div class="foo" id="root-1"></div>
<div class="bar" id="root-2"></div>
<div class="foo" id="root-3"></div>
<div class="foo" id="root-4"></div>
<div class="bar" id="root-5"></div>

<style>
  div:has(+ .foo) {
    height: 10px;
    width: 10px;
  }
</style>
