name: GHPages

on:
  workflow_dispatch: null
  push:
    branches: [main]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - name: Install And Build
        run: |+
          npm install --legacy-peer-deps
          npm run update
          npm run build
          export NODE_OPTIONS="--max-old-space-size=8192"
          npm run docs:build
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./docs-build/dist/eslint-plugin-astro
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
